@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/button.css");
@import url("components/banner2.css");
@import url("components/greenbtn.css");
@import url("components/imagebtn.css");
@import url("components/cardproduct.css");
@import url("components/cardvalue.css");
@import url("components/cardbtn.css");



body {
	font-family: 'Chonburi', cursive;
	font-size: 15px;
	margin: 0px;


}

h1 {
	font-family: 'Chonburi', cursive;
	font-weight: bold;
	font-size: 35px;
	margin-bottom: 120px;

	

}

h2 {
	font-family: 'Chonburi', cursive;
	font-size: 20px;
		
}

h3 {
	font-family: 'Chonburi', cursive;
	font-size: 25px;
	text-align: center;	
	
}




p {
	font-family: 'Chonburi', cursive;
	font-size: 15px;
	margin: 20px;
	color: black;
	text-align: justify;

}


li {
	text-decoration: none;
	font-family: 'Chonburi', cursive;
	font-size: 15px;
	margin: 0px;
	color: black;

}



