.btn-grey {
	background-color:rgba(34, 74, 43, 0.96); 
	padding: 15px 10px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: ''Chonburi', cursive;
	margin: 7px;
	justify-content: space-between;
	margin: 34px;
	text-decoration: none;
    font-size: 20px;
	text-align: right;
	float:right;

}




