.card {
	align-items: center;
	justify-content: space-between;
	display:flex;
	
	


}

.card img {
	width: 350px;
	border-radius:0px;
	margin: 45px;
	align-items: center;


	
	
}

.card p {
	align-items: center;
	justify-content: space-between;
	display:flex;
	position: relative; 		
	top: -0.5em; 		
	font-size: 0.8em;	


}


