.greenbtn {
	background-color:rgba(34, 74, 43, 0.96) ; 
	padding: 15px 10px;
	border-radius: 0px;
	color: white;
	font-weight: bold;
	font-family: ''Chonburi', cursive;
	margin: 7px;
	justify-content: space-between;
	margin: 35px;
	text-decoration: none;



}


}

.greenbtn {
	background-color: :black;
	color: white;
	padding; 15px 10px;
	border-radius: 4px;
	margin-bottom: 40px;
}

.greenbtn: hover {
	background-color:black;
	color: white;
	padding; 15px 20px;
	border-radius: 4px;
	margin-bottom: 40px;

}
